<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MemberMapper">

	<select id="loginMember" parameterType="String"
		resultType="com.sp.app.domain.Member">
		SELECT m.memberIdx, membership, userId, userName, userPwd,
		       register_date, modify_date, last_login
		FROM member m
		JOIN member1 m1 ON m1.memberIdx = m.memberIdx
		WHERE userId = #{userId} AND enabled != 0
	</select>

</mapper>